#mypic {
    height: 200px;
    width: 200px;
    margin: 0px 30px 5px 0px;
}

#linkedin {
    margin: 30px;
}

#instagram {
    margin: 30px;
}

#facebook {
    margin: 30px;
}

body {
    background-color: rgb(222, 223, 223);
    background-image: url("./background\ green\ blue\ .jpeg");
}


form {
    background-color: whitesmoke;
    padding: 20px;
}